.yash{
    background-color: rgb(192, 157, 231);
    height: 300px;
    width: 600px;
    align-items: center;
    
    border-radius: 30px;
    padding: 30px;
    
}

.box{
    background-color: rgb(213, 113, 239);
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    margin: 20px;
    
}